apiclient
pymongo==3.8.0
Keras==2.2.4
numpy==1.16.4
requests==2.22.0
selenium==3.141.0
urllib3==1.25.3
Flask==1.1.1
Flask-RESTful==0.3.7
Flask-PyMongo==2.3.0
flask-Cors==3.0.8
pandas==0.25.1
scikit-learn==0.21.3
nltk==3.4.5
oauth2client==4.1.3
